<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://retailcs.com/"
        xmlns:gap = "http://retailcs.com/"
        id        = "com.retailcs.reports"
        version   = "1.0.0">

    <name>RCS Reports/name>

    <description>
        RCS Reports.
    </description>

    <author href="http://retailcs.com/" email="support@retailcs.com">
        Retail Custom Solutions
    </author>

    <preference name="permissions"                value="none"/>
    <preference name="orientation"                value="portrait" />
    <preference name="target-device"              value="universal" />
    <preference name="fullscreen"                 value="true" />
    <preference name="webviewbounce"              value="true" />
    <preference name="prerendered-icon"           value="true" />
    <preference name="stay-in-webview"            value="false" />
    <preference name="ios-statusbarstyle"         value="black-opaque" />
    <preference name="detect-data-types"          value="true" />
    <preference name="exit-on-suspend"            value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen"    value="true" />
    <preference name="disable-cursor"             value="false" />
    <preference name="android-minSdkVersion"      value="8" />
    <preference name="android-installLocation"    value="auto" />
    <preference name="phonegap-version"       value="3.7.0" />

    <icon src="img/logoapp/icon.png" />
    <icon src="res/icon/android/drawable-ldpi/logoapp.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/drawable-mdpi/logoapp.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/drawable-hdpi/logoapp.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/drawable-xhdpi/logoapp.png"  gap:platform="android"    gap:qualifier="xhdpi" />

    <icon src="res/icon/ios/icon1/logoapp.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon2/logoapp.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon3/logoapp.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon4/logoapp.png"         gap:platform="ios"        width="144" height="144" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="res/screen/android/screen.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen.png"      gap:platform="android" gap:qualifier="port-xhdpi" />

    <gap:splash src="res/screen/ios/screen.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/screen.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/screen/ios/screen.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/screen.png"          gap:platform="ios"     width="1024" height="768" />

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>

    <access origin="*"/>

</widget>